@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 80px;
    padding-left: 30px;
}

.search-bar input {
    padding: 15px;
    width: 600px;
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6;
    border-radius: 4px;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
   justify-content: center;
    background-color: #e6e6e6;
    border-radius: 4px;
    width: 50%;
    padding-left: 10px;
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.icon-link {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.icon-link:hover {
    background-color: #e6e6e6;
}

.category-bar {
    background-color: #ef9eaa;
    padding: 20px 20px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.category-bar a {
    color: #ce1f3a;
    text-decoration: none;
    padding: 0 15px;
    font-size: 20px;
    line-height: 24px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif; /* Usando a fonte Roboto */
    
}

.category-bar a:hover {
    background-color: #b6b6b6;
}
