/* FullScreenImage.css */

.InicioFundo {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.InicioFundo {
   /* Garante que a imagem se expanda para cobrir a tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir a área sem distorção */
    z-index: -1; /* Coloca a imagem atrás de outros conteúdos */
}
